.App {
  text-align: center;
  margin-top: 50px;
}

.countryCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country {
  text-align: center;
  width: calc(100% / 7);
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.country img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.country span {
  display: block;
}
